/*------------------ Area Style Lihat Koleksi---------------*/
#content {
	padding: 20px;
	margin: 20px 0px 50px 0px;
	background-color: #fff;
	border-top: 4px #e7eaec solid;
}

#content header {
	border-bottom: 4px #f3f3f4 solid;
	padding:10px 0px;
}

.title-page {
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px 0px 20px;
	margin: 0px;
}

.content-inner{
	padding: 20px;	
}

.form-wrapper {
	background-color: #eee;
	padding: 20px;
}

#content .content-inner .form-wrapper .table-responsive .table-active .hover-tables {
background-color: #84832f;
}